*.o
aclocal.m4
compile
config.*
configure
configure.ac
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1

autom4te.cache/
data/xfce4-volumed-pulse.desktop
m4/
src/.deps
src/xfce4-volumed-pulse
