*~
*.o
aclocal.m4
compile
config.*
configure
depcomp
INSTALL
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1

autom4te.cache/
data/xfce4-volumed-pulse.desktop
m4/
src/.deps
src/xfce4-volumed-pulse
ABOUT-NLS
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/xfce4-volumed-pulse.pot
po/*.gmo
